p::before{
    content: "🐱‍👓";
}
p::after{
    content: "🐱‍🐉";
}
::placeholder{
    color: salmon;
}
p:hover{
    color: blanchedalmond;
}
div p:nth-child(2){
    color: blueviolet;
}
div p:nth-child(2):hover{
    color: red;
}